---
import SocialMedia from "./SocialMedia";
import shapeHeader from "/images/shape-header.svg";
---

<section id="hero" class="flex justify-center items-center h-screen">
  <div class="flex flex-col items-center gap-2">
    <h2 class="text-primary font-extrabold text-5xl">
      Vicky Herdiansyah Adri.
    </h2>
    <div class="relative">
      <img src={shapeHeader} alt="shape header" class="absolute -z-10 bottom-0" />
      <h1
        class="text-transparent bg-clip-text bg-gradient-to-r from-[#557DE8] via-[#BBA2FC] to-[#FFAA8C] text-[82px] font-bold"
      >
        Front-end Engineer
      </h1>
    </div>
    <p class="text-[28px] max-w-3xl text-center">
      <span class="font-bold">2+ years of experience,</span> using React.js and TypeScript
      for developing a web applications.
    </p>
    <SocialMedia client:load />
  </div>
</section>
